<header>
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <p>Last Crawled: {{now}}</p>
    <p>Total websites in showcase for specified crawl date: {{total}}</p>
    <em>This website serves as the output of a custom static site generator <a href="https://github.com/crock/WebDevShowcase" target="_blank">I built with Python</a> as a way to learn the ins and outs of how popular generators work. I definitely recommend all code newbies to do this challenge to expand their skills.</em>
</header>